<h1 id="tableLabel" style="color:purple">Board Games and their Designers!</h1>
<div>
  <span><b>Links:</b></span>
  <ul ngbNav>
    <li ngbNavItem><a ngbNavLink routerLink="/">Home</a></li>
    <li ngbNavItem><a ngbNavLink routerLink="/designers">Designers</a></li>
    <li ngbNavItem><a ngbNavLink routerLink="/board-games">Board Games</a></li>
  </ul>
</div>
<div>
  <app-login-button *ngIf="(auth.isAuthenticated$ | async) === false">
  </app-login-button>
  <app-logout-button *ngIf="(auth.isAuthenticated$ | async)">
  </app-logout-button>
</div>

<router-outlet></router-outlet>