<h4>Add Games Here!</h4>

<div>
    <form [formGroup]="addGameForm" (ngSubmit)="onSubmit(addGameForm.value)">
        <div>
            <label for="name">Name</label>
            <input id="name" type="text" formControlName="name" required="required">
        </div>
        <div>
            <label for="designerId">Designer</label>
            <select name="designers" id="designerId" formControlName="designerId">
                <option *ngFor="let d of designersForAdd" value="{{d.id}}">{{d.name}}</option>
            </select>
        </div>
        <button class="button" type="submit">Add Game</button>
    </form>
</div>

<!-- <form action="onSubmit">
    <label for="fname">Board Game Name:</label><br>
    <input type="text" id="game" name="game"><br>
    <select name="game" onchange='CheckSelection(this.value);'>
        <option>Pick a Designer</option>
        <option *ngFor="let d of designersForAdd">{{d.name}}</option>
        <option value="test">Test</option>
        <option value="other">other</option>
    </select>
    <input type="text" name="game" id="game" style=' display:none;' />
    <input type="submit" value="Submit">
</form> -->